:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;

    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-color: #7fc2ff;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Rowdies', cursive;
}

.game-container {
    background: grey;
    position: relative;
    width: 706px;
    height: 418px;
    margin: 0 auto;
    border: 2px groove black;

    transform: scale(1.5) translateY(20%);
}

.game-container canvas {
    image-rendering: pixelated;
}