#main-header{
    background-image: linear-gradient(to bottom right, blue, #00BFFF, #0000CD, #1E90FF);
    padding: 9px;
}

#checkout-button{
    display: flex;
    justify-content: right;
    justify-items: end;
}

h1{
    text-align: center;
    color: #ffffff;
    font-family: 'Trebuchet MS';
}

iframe {
    border: none;
    overscroll-behavior: contain;
}

#game-iframe{
    overflow: hidden;
    background-color: red;
}

#iframe-container {
    width: min-content;
    height: min-content;
}

.footer{
    background-color: blue;
    padding: 25px;
    text-align: center;
    background-image: linear-gradient(to bottom right, blue, #00BFFF, #0000CD, #1E90FF);
}

#top-bar{
    padding: 12px;
    text-align: center;
}

#nav-bar{
    text-align: right;
}

#reel-container{
    border: solid 3px white;
    width: 98vw;
    margin: 0 auto;
    height: 500px;
    background-image: linear-gradient(to top, #00BFFF, #ffffff);
}

.carousel-inner{
    display: flex;
    justify-content: space-evenly;
}

#slides{
    border: solid 4px gray;
    background-color: white;
    margin: 1vw auto;
    height: 300px;
    width: 96vw;
    overflow: hidden;
}

#icons{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

#game-icon1 img{
    border-radius: 13px;
}

#game-icon2 img{
    border-radius: 13px;
}

#game-icon3 img{
    border-radius: 13px;
}

#game-icon4 img{
   border-radius: 13px;
}

#game-and-details {
    display: flex;
    justify-content: space-evenly;
}

#details-container {
    border: 1px solid black;
    height: 500px;
    width: 30vw;
}