#main-header{
    background-color: grey;
    padding: 9px;
}

.footer{
    background-color: grey;
    padding: 25px;
    text-align: center;
}

#top-bar{
    padding: 12px;
    text-align: center;
}

#nav-bar{
    text-align: right;
}


#reel-container{
    border: solid 3px white;
    width: 98vw;
    margin: 0 auto;
    height: 400px;
    background-color: #A9A9A9; 
}

#page-logo{
    display: flex;
    justify-content: center; 
    margin: auto 35px;
}

#slides{
    border: solid 4px gray;
    background-color: white;
    margin: 1vw auto;
    height: 190px;
    width: 96vw;
}

#icons{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

#game-icon1 img{
    border-radius: 13px;
}

#game-icon2 img{
    border-radius: 13px;
}

#game-icon3 img{
    border-radius: 13px;
}

#game-icon4 img{
   border-radius: 13px;
}



