#main-header{
    background-color: grey;
    padding: 9px;
}

#top-bar{
    padding: 12px;
    text-align: center;
}

#nav-bar{
    text-align: right;
}


#reel-container{
    border: solid 3px white;
    width: 98vw;
    margin: 0 auto;
    height: 400px;
    background-color: #A9A9A9; 
}

#page-logo{
    display: flex;
    justify-content: center; 
    margin: auto 35px;
}

#slides{
    border: solid 4px gray;
    background-color: white;
    margin: 1vw auto;
    height: 190px;
    width: 96vw;
}

#icons{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

#game-icon1{
    width: 110px;
    height: 110px;
    background-image: url('./images/flappybirdicon.jpeg');
    background-position: 50%;
    border-radius: 50%
}

#game-icon2{
    width: 110px;
    height: 110px;
    background-image: url('./images/snakeicon.png');
    background-position: 50%;
    border-radius: 50%
}

#game-icon3{
    width: 100px;
    height: 100px;
    background-image: url('./images/icon3.png');
    background-position: 50%;
    border-radius: 50%
}

#game-icon4{
    width: 100px;
    height: 100px;
    background-image: url('./images/icon4.jpeg');
    background-position: 50%;
    border-radius: 50%
}



