.gamegrid {
    width: 875px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;

}

.gamegrid div {
    width: 24px;
    height: 24px;
}

.snake {
    background-color: aqua;
}

.food {
    background-color: red;
}
