html {
    height: min-content;
    width: min-content;
}

body {
    display: flex;
    margin: 0;
    height: 730px;
    width: 500px;
    overflow: hidden;
}

.game-container{
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky{
    background-image: url(images/Flappybird.png);
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground{
    background-color: green;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px; 
    z-index: +1;
}

.bird{
    background-image: url(images/flappy-bird.png);
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstacle{
    background-image: url(images/flappybird-pipe.png);
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle{
    background-image: url(images/flappybird-pipe.png);
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

.score{
    position: absolute;
    z-index: +2;
    color: white;
    font-size: 40px;
}