:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;

    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-color: #7fc2ff;
}

html{
    width: min-content;
    height: min-content;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Rowdies', cursive;
}

.game-container {
    background: black;
    position: relative;
    width: 702px;
    height: 412px;
}

.game-container canvas {
    image-rendering: pixelated;
}